.pagination_button {
    font-size: xx-large;
    font-weight: 800;
    color: #255A8D;
    background: white;
    -webkit-box-shadow: 0 10px 6px -6px rgb(119,119,119,0.8);
    -moz-box-shadow: 0 10px 6px -6px rgb(119,119,119,0.8);
    box-shadow: 0 10px 6px -6px rgb(119,119,119,0.8);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 80px;
    border: 4px solid #255A8D;
    width: 320px;
}

.pagination_button:hover {
    color: white;
    background: #255A8D;
}

.pagination_left {
    float: left;
}

.pagination_right {
    float:right;
}

.pagination_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 680px;
}

.pagination_pokeball {
    height: 200px; 
}