p {
    margin: 0;
    color: #255A8D;
}

.card {
    background:rgb(255,255,255,0.9);
    -webkit-box-shadow: 0 10px 6px -6px rgb(119,119,119,0.8);
    -moz-box-shadow: 0 10px 6px -6px rgb(119,119,119,0.8);
    box-shadow: 0 10px 6px -6px rgb(119,119,119,0.8);
    border-radius: 15px;
    padding: 30px;
    border: 4px solid #255A8D;
    width: 500px;
}

.card:hover {
    background: rgb(255,255,255);
    -webkit-box-shadow: 0 16px 10px -10px rgb(119,119,119,0.8);
    -moz-box-shadow: 0 16px 10px -10px rgb(119,119,119,0.8);
    box-shadow: 0 16px 10px -10px rgb(119,119,119,0.8);
}

.card_img {
    margin-top: 20px;
    text-align: center;
}

.card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: xx-large;
    color: #255A8D;
}

.card_types {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card_type {
    padding: 10px 40px;
    margin: 10px 10px 10px 10px;
    border: 3px solid #255A8D;
    border-radius: 30px;
    color: #255A8D;
    font-weight: 800;
    font-size: x-large;

}

.card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.card_info {
    margin: 10px;
    display: block;
}

.card_data {
    padding-bottom: 10px;
    font-size: x-large;
    text-align: center;
}

.card_data .title {
    font-weight: 700;
    font-size: x-large;
}
/* remove */
.card_data .index_title{
    margin-top: 20px;
    font-weight: 700;
    font-size: x-large;
}

.card_data .index_number {
    font-weight: 700;
    font-size: 60px;
}