* {
  box-sizing: border-box;
}

.grid-container {
  width: 1040px;
  display: grid;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 35%;
}

.loader_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: fit-content;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}
